
@font-face {
  font-family: "verveine", sans-serif;
  src: url('https://use.typekit.net/hwo6iiz.css'); 
}


.container {
  padding: 0 2rem;
  background-color: #EAE9E1;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "verveine", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #534741;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  color:#534741;
  margin: 0;
  line-height: 1.15;
  font-size: 1.6rem;
  font-family: "verveine", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: "verveine", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.cursorpointer{
  border:none;
  background: none;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.animatedLogo{
fill: transparent;
  stroke:#534741;
  stroke-width: 1;

  stroke-dasharray: 4000; /* Length of the path */
  stroke-dashoffset: 4000; /* Initially hiding the path */
  animation: drawLine 30s linear both; /* Animation for drawing the line */
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 10; /* Drawing the line */
  }
}

.togglebutton{
  padding: 0.5%;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-align: center;
border: 1px solid black;
}
.custombutton span{
border: none;
background-color: transparent;
display: flex;
flex-direction: 'column';
align-items: 'center';
margin-bottom: 10px;
font-size: 12px;

}

.custombutton{
  padding: 2%;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-align: center;
  }