.container {
  padding: 0;
  background-color: #222222;
}

.main {
  min-height: 100vh;
  padding: 4rem 1rem;
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  filter: blur(0.3px);
  position: relative;
}

.mainContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.mapcontainer {
  width: 100vw;
  height: 80vh;
}

.containerfilter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 4% 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.cursorpointer {
  border: none;
  background: none;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.animatedLogo {
  width: 60vw;
  fill: transparent;
  stroke: white;
  stroke-width: 1.5;
  padding-top: 2%;
  stroke-dasharray: 3000; /* Length of the path */
  stroke-dashoffset: 3000; /* Initially hiding the path */
  animation: drawLine 10s linear both; /* Animation for drawing the line */
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 10; /* Drawing the line */
  }
}

@media (min-width: 768px) {
  .animatedLogo {
    width: 30vw;
  }
}

.subtitle {
  font-size: 2rem;
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  text-align: left;
  color: white;
  margin-bottom: 2%;
  margin-left: 2%;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 1.2rem;
  }
}

.togglebutton {
  font-family: "Schoolbell", cursive;
  font-size: 1.6rem;
  border-color: transparent; /* Set border color to transparent when active */
  background-color: transparent;
  color: var(--red);
  cursor: pointer;
  margin: 0 1%;
}

.togglebutton.active {
  color: white;
}

@media (max-width: 768px) {
  .togglebutton {
    font-size: 1.2rem;
  }
}

.custombutton span {
  border: none;
  background-color: transparent;
  font-family: "Schoolbell", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1cap;

}

.custombutton {
  padding: 1%;
  padding-right: 3%;
  padding-bottom: 4%;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-align: center;
  align-items: "center";
}

.activeButton {
  color: var(--red); /* Change text color to #363D35 for active button */
}

.activeButton svg {
  color: var(--red); /* Change text color to #F94E4E for active button */
}

@media (max-width: 768px) {
  .custombutton span {
    font-size: 1rem;
  }
  .custombutton {
    padding-bottom: 6%;
  }
}

.viewbutton {
  display: flex; /* Make the buttons inline-block */
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.4rem;
}

.selectedMarker {
  border: 3px var(--red) solid;
  border-radius: 50%;
}

.backToTopButton {
  z-index: 2000;
  left: 60px;
  position: absolute;
  bottom: 60px;
  border: 1px solid rgb(70, 70, 70);
  background-color: white;
  font-family: "Schoolbell", cursive;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(70, 70, 70);
  border-radius: 100px;
  padding: 0.5% 1%;
}

@media (max-width: 768px) {
  .backToTopButton {
    top: 60px;
    bottom: auto;
  }
}
