.container {
  padding: 0;
  background-color: #363D35;
}

.main {
  min-height: 100vh;
  padding: 4rem 1rem;
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  filter: blur(0.3px);
  position: relative;
}


  .mainContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  .mapcontainer {
    width: 100vw;
    height: 80vh;
    
  }
  .containerFilter {
    width: 100%;
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
    justify-content: space-between;
  }




.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;

  justify-content: center;
  align-items: center;
  color: white;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  color: white;
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-weight: 400;
  font-style: italic;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: italic;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.cursorpointer {
  border: none;
  background: none;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.animatedLogo {
  fill: transparent;
  stroke: white;
  stroke-width: 1.5;
  padding-top: 2%;
  stroke-dasharray: 3000; /* Length of the path */
  stroke-dashoffset: 3000; /* Initially hiding the path */
  animation: drawLine 10s linear both; /* Animation for drawing the line */
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 10; /* Drawing the line */
  }
}

.subtitle {
  font-size: 2rem;
  font-family: "Schoolbell", cursive;

  font-weight: 400;
  text-align: left;
  color: white;
  margin-bottom: 2%;
  margin-left: 2%;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 1.4rem;
  }
}

.togglebutton {
  font-family: "Schoolbell", cursive;
  font-size: 2rem;

  border: 3px solid white; /* Set border color when not active */
  border-radius: 100px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin:0 1%;
}

.togglebutton.active {
  border-color: transparent; /* Set border color to transparent when active */
  border-radius: 0; /* Apply square borders when active */
}

.custombutton span {
  border: none;
  background-color: transparent;
  font-family: "Schoolbell", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.custombutton {
  padding: 1%;
  padding-right: 3%;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-align: center;
  align-items: "center";
}

.activeButton {
  color: #aac2a7; /* Change text color to #363D35 for active button */
}

.activeButton svg {
  color: #aac2a7; /* Change text color to #F94E4E for active button */
}


.viewbutton {
  display: flex; /* Make the buttons inline-block */
  flex-direction: row;
  justify-content: flex-end;

}



.selectedMarker{
  border: 3px #363D35 solid;
  border-radius: 50%;
}

.backToTopButton{
  z-index: 2000;
  left: 60px;
  position: absolute;
  bottom: 60px;
border: 1px solid rgb(70, 70, 70);
  background-color: white;
  font-family: "Schoolbell", cursive;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(70, 70, 70);
  border-radius: 100px;
  padding: 0.5% 1% ;
  
  
}

@media (max-width: 768px) {
  .backToTopButton {
    top:60px;
    bottom: auto;
  }
}